@import "tailwindcss";






html, body {
  height: 100%;
  background-color: #0f172a;
  color: #f8fafc;
}



@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 3px;
}
